/* html {
    height: 100%;
} */

* {
    margin: 0;
    padding: 0;
}
#myGame {
    border: 1px solid #ddd;
}

#lobby {
    /* position: absolute; */
    width: 500px;
    height: 800px;
    background-image: url(/images/main.jpg);
    z-index: 99;
}


body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.out {
    opacity: 1;
    transition:  all 0.5s;
}

.out-fade-out {
    opacity: 0;
}


